.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body, .open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
 
}
* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}

header {
   width: 1440px;
    height: 698px;
    background-image: url("assets/Hero-bg.png");
    background-size: cover;
    padding-top: 100px;
}
.navber{
    max-width: 1140px;
    height: 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
} 